# Public tasks
[tasks.default]
clear = true
dependencies = [
    "clean",
    "check",
    "test",
    "build",
]

[tasks.check]
description = "Check code integrity"
clear = true
dependencies = [
    { name = "check", path = "libnachos-sys/Makefile.toml" }
]

[tasks.test]
description = "Check code integrity"
clear = true
dependencies = [
    { name = "test", path = "libnachos-sys/Makefile.toml" }
]

[tasks.build]
description = "Build nachos"
clear = true
dependencies = [
    { name = "build", path = "libnachos-sys/Makefile.toml" }
]

[tasks.clean]
description = "Clean up workspace"
clear = true
dependencies = [
    { name = "clean", path = "libnachos-sys/Makefile.toml" }
]
